.footer-container {
    height: 5%;
    width: 100%;
    padding: 10px;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    margin-left: 1.5rem;
}

.footer-content {
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: 5.3125rem;
    overflow: hidden;
    display: flex;
}

.fa-brands {
    margin-right: 7px;
}

